<md-card class="server-card">
	<md-card-header>
		<div md-card-avatar>
			<i class="material-icons md-36">computer</i>
		</div>
		<md-card-title>{{serverInfoCall?.host}}:{{serverInfoCall?.port}}</md-card-title>
		<md-card-subtitle>{{serverDetails?.name}}</md-card-subtitle>
	</md-card-header>
	<md-card-content>
		<md-tab-group dynamicHeight="false">
			<md-tab label="Heap memory">
				<p id="{{chartId}}" class="chart"></p>
			</md-tab>
			<md-tab label="Server info">
				<form class="info-form">
					<md-input-container class="info-full-width">
						<input mdInput placeholder="HttpSessions (active)" disabled value="{{serverDetails?.activeHttpSessionCount}}">
					</md-input-container>
					<md-input-container class="info-full-width">
						<input mdInput placeholder="Threads (active)" disabled value="{{serverDetails?.activeThreadCount}}">
					</md-input-container>
					<md-input-container class="info-full-width">
						<input mdInput placeholder="State" disabled value="{{serverDetails?.state}}">
					</md-input-container>
					<md-input-container class="info-full-width">
						<input mdInput placeholder="Health" disabled value="{{serverDetails?.health.state}}">
					</md-input-container>
				</form>

			</md-tab>
		</md-tab-group>
	</md-card-content>
	<md-card-footer>
		<div>
			<md-select placeholder="Refresh rate" [(ngModel)]="selectedRefreshRate" (ngModelChange)="onChangeRefreshRate($event)" class="refresh-rate">
				<md-option *ngFor="let option of refreshRates" [value]="option">
					{{option.text}}
				</md-option>
			</md-select>
		</div>
	</md-card-footer>
</md-card>