.server-card {
	width: 400px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.chart {
	height: 300px;
	width: 400px;
}
.info-form {
  width: 100%;
	height: 328px;
}
.info-full-width {
  width: 100%;
}
.refresh-rate {
	margin-left: 180px;
}
.material-icons.md-36 {
	font-size: 36px;
	color: #fb8c00;
}
