<app-server-info host='http://localhost' port='7101' username='weblogic' password='weblogic1'></app-server-info>
<app-server-info host='http://localhost' port='7101' username='weblogic' password='weblogic1'></app-server-info>
<app-server-info host='http://localhost' port='7101' username='weblogic' password='weblogic1'></app-server-info>
<app-server-info host='http://localhost' port='7101' username='weblogic' password='weblogic1'></app-server-info>
<app-server-info host='http://localhost' port='7101' username='weblogic' password='weblogic1'></app-server-info>
<app-server-info host='http://localhost' port='7101' username='weblogic' password='weblogic1'></app-server-info>
<!--
<app-server-info host='http://localhost' port='7101' username='weblogic' password='weblogic1'></app-server-info>
<app-server-info host='http://localhost' port='7101' username='weblogic' password='weblogic1'></app-server-info>
<app-server-info host='http://localhost' port='7101' username='weblogic' password='weblogic1'></app-server-info>
<app-server-info host='http://localhost' port='7101' username='weblogic' password='weblogic1'></app-server-info>
-->